.wiki {
  max-width: calc(100% - 16px);
  margin: 8px auto;

  .headerbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 4px;

    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .relations-list {
    margin-bottom: 8px;
  }
}

@media (min-width: 1024px) {
  .wiki {
    max-width: 1024px;
  }
}
