@line-height: 17px;

.relation-item {
  .name {
    display: inline-block;
    width: 20%;
    height: @line-height;
  }
  .value {
    display: inline-block;
    background-color: #1890ff;
    height: @line-height;
    margin-right: 4px;
  }
}
