@line-height: 17px;

.relation-item {
  cursor: pointer;
  display: flex;
  .name {
    display: inline-block;
    height: @line-height;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: auto;
  }
  .bar {
    display: inline-block;
    height: @line-height;
  }

  .value {
    display: inline-block;
    width: 5%;
    padding-left: 8px;
  }
}
